name: AutoUpdate

on: 
  schedule:
    - cron: "5 12 * * 6"
  push:
    branches:
      - master
    paths:
      - '**.py'
      - '**.yml'
  pull_request:
    paths:
      - '**.py'
      - '**.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.11
      uses: actions/setup-python@v1
      with:
        python-version: 3.11
    - name: Install dependencies
      run: python -m pip install -r requirements.txt
    - name: Fetch and update cases
      run: python update.py
    - name: Commit changes 
      uses: EndBug/add-and-commit@v9.1.4
      # Commit only if this is not a PR
      if: github.ref == 'refs/heads/master'
      with: 
        new_branch: ${{ github.head_ref }}
        author_name: GitHub Action
        author_email: action@github.com
        message: "Add new cases!"
        add: "*.json"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
